html {
  font-family: 'Roboto', sans-serif;
  background-image: url(http://www.ucdenver.edu/academics/colleges/Engineering/Programs/bioengineering/Laboratories/BenningerLab/PublishingImages/Denver_skyline_589CC_rt.jpg);
}

a:link {
  text-decoration: none;
  color: rgb(64, 37, 226);
}

a:visited {
  color: rgb(232, 44, 219);
}

a:hover {
  color: red;
  font-style: italic;
}

h1, .description {
  text-align: center;
  background: linear-gradient(to bottom, rgb(232, 240, 228), rgb(197, 205, 186));
  border: 1px solid black;
  border-radius: 5px;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 10px;
  text-shadow: 2px 2px silver;
}

table {
  background: linear-gradient(to bottom, rgb(232, 240, 228), rgb(197, 205, 186));
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  margin: 10px;
  margin-left: 90px
}

@media screen and (max-width: 500px) { /* for smartphones */
  table {display: block; margin-left: auto; margin-right: auto;}
  select {border: 1px solid black;}
}

@media screen and (min-width: 501px) and (max-width: 800px) { /* for tablets */
  select {border: 1px solid black;}
  element2 {}
}

input, select {
  margin: 5px;
}

input[type="text"] {
  border: 1px solid black;
}

input[type="text"]:hover {
  background-color: rgb(245, 202, 247);
}

button {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(240, 235, 225);
}

button:hover {
  cursor: pointer;
  background-color: white;
}

button:focus {
  background-color: rgb(142, 131, 117)
}

#place {
  position: absolute;
  top: 450px;
  left: 200px;
  max-height: 600px;
  background: linear-gradient(to bottom, rgb(232, 240, 228), rgb(197, 205, 186));
  border: 1px solid black;
  border-radius: 5px;
}

#place tr {
  float: left;
  margin: 20px;
}
